In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.head()

,age,weight_kgs,nationality,overall_rating,potential,value_euro,wage_euro,preferred_foot,international_reputation(1-5),weak_foot(1-5),...,positions_LB,positions_LM,positions_LW,positions_LWB,positions_RB,positions_RM,positions_RW,positions_RWB,positions_ST,height_cm
0,27,76.2,25,88,89,69500000.0,205000.0,1,3,5,...,0,0,0,0,0,1,0,0,0,175.26
1,25,83.9,32,88,91,73000000.0,255000.0,1,4,4,...,0,0,0,0,0,0,0,0,0,190.50
2,27,59.0,47,88,88,62000000.0,165000.0,1,3,4,...,0,0,1,0,0,0,0,0,1,162.56
3,27,88.9,72,88,91,60000000.0,135000.0,1,3,3,...,0,0,0,0,0,0,0,0,0,187.96
4,27,92.1,57,88,90,59500000.0,215000.0,1,3,3,...,0,0,0,0,0,0,0,0,0,193.04